@import 'tailwindcss';


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
    /* Now 1rem = 8px */
  }
}

body {
  font-size: 1.8rem;
}

.swiper-slide {
  height: auto !important;
}
